<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>appName</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan Daniel</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>format</key>
	<string>APPL</string>
	<key>images</key>
	<array>
		<dict>
			<key>path</key>
			<string>bamboo_forest-ipad@2x.png</string>
			<key>size</key>
			<string>{1980.000000, 1937.000000}</string>
			<key>subimages</key>
			<array>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bambooLinkFat</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{40.000000, 136.000000}</string>
					<key>textureRect</key>
					<string>{{788, 0}, {136, 40}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>groundLeaf</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{236.000000, 554.000000}</string>
					<key>textureRect</key>
					<string>{{880, 126}, {554, 236}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bambooSlim</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{159.000000, 58.000000}</string>
					<key>textureRect</key>
					<string>{{932, 0}, {159, 58}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bambooFat</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{231.000000, 129.000000}</string>
					<key>textureRect</key>
					<string>{{1502, 0}, {231, 129}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>anchorLeaf-parent</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{179.000000, 203.000000}</string>
					<key>textureRect</key>
					<string>{{315, 21}, {203, 179}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>anchorLeaf-child</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{132.000000, 118.000000}</string>
					<key>textureRect</key>
					<string>{{1362, 0}, {132, 118}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>star</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{128.000000, 117.000000}</string>
					<key>textureRect</key>
					<string>{{1226, 0}, {128, 117}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>hand</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{164.000000, 307.000000}</string>
					<key>textureRect</key>
					<string>{{0, 21}, {307, 164}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bambooSideSlim</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{40.000000, 53.000000}</string>
					<key>textureRect</key>
					<string>{{727, 0}, {53, 40}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>frontBambooTree</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{176.000000, 1883.000000}</string>
					<key>textureRect</key>
					<string>{{0, 370}, {1883, 176}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bambooLinkSlim</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{28.000000, 60.000000}</string>
					<key>textureRect</key>
					<string>{{659, 0}, {60, 28}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>backBambooTree</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{301.000000, 1864.000000}</string>
					<key>textureRect</key>
					<string>{{0, 793}, {1864, 301}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>godRay</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{429.000000, 1742.000000}</string>
					<key>textureRect</key>
					<string>{{0, 1504}, {1742, 429}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>candy</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{133.000000, 134.000000}</string>
					<key>textureRect</key>
					<string>{{1741, 0}, {134, 133}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>backGrass</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{1664.000000, 394.000000}</string>
					<key>textureRect</key>
					<string>{{0, 1102}, {1664, 394}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>frontGrass</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{1976.000000, 231.000000}</string>
					<key>textureRect</key>
					<string>{{0, 554}, {1976, 231}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>dotted_line</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{651.000000, 13.000000}</string>
					<key>textureRect</key>
					<string>{{0, 0}, {651, 13}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bambooSideFat</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{95.000000, 119.000000}</string>
					<key>textureRect</key>
					<string>{{1099, 0}, {119, 95}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bird</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{185.000000, 346.000000}</string>
					<key>textureRect</key>
					<string>{{526, 48}, {346, 185}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>path</key>
			<string>bamboo_forest-ipad.png</string>
			<key>size</key>
			<string>{990.000000, 968.000000}</string>
			<key>subimages</key>
			<array>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bambooLinkFat</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{20.000000, 68.000000}</string>
					<key>textureRect</key>
					<string>{{394, 0}, {68, 20}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>groundLeaf</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{118.000000, 277.000000}</string>
					<key>textureRect</key>
					<string>{{440, 64}, {277, 118}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bambooSlim</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{80.000000, 29.000000}</string>
					<key>textureRect</key>
					<string>{{466, 0}, {80, 29}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bambooFat</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{116.000000, 65.000000}</string>
					<key>textureRect</key>
					<string>{{751, 0}, {116, 65}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>anchorLeaf-parent</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{90.000000, 102.000000}</string>
					<key>textureRect</key>
					<string>{{158, 11}, {102, 90}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>anchorLeaf-child</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{66.000000, 59.000000}</string>
					<key>textureRect</key>
					<string>{{681, 0}, {66, 59}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>star</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{64.000000, 59.000000}</string>
					<key>textureRect</key>
					<string>{{613, 0}, {64, 59}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>hand</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{82.000000, 154.000000}</string>
					<key>textureRect</key>
					<string>{{-1, 11}, {154, 82}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bambooSideSlim</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{20.000000, 27.000000}</string>
					<key>textureRect</key>
					<string>{{364, 0}, {27, 20}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>frontBambooTree</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{88.000000, 942.000000}</string>
					<key>textureRect</key>
					<string>{{0, 185}, {942, 88}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bambooLinkSlim</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{14.000000, 30.000000}</string>
					<key>textureRect</key>
					<string>{{330, 0}, {30, 14}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>backBambooTree</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{151.000000, 932.000000}</string>
					<key>textureRect</key>
					<string>{{-1, 397}, {932, 151}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>godRay</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{215.000000, 871.000000}</string>
					<key>textureRect</key>
					<string>{{0, 752}, {871, 215}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>candy</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{67.000000, 67.000000}</string>
					<key>textureRect</key>
					<string>{{870, 0}, {67, 67}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>backGrass</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{832.000000, 197.000000}</string>
					<key>textureRect</key>
					<string>{{0, 552}, {832, 197}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>frontGrass</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{988.000000, 116.000000}</string>
					<key>textureRect</key>
					<string>{{0, 277}, {988, 116}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>dotted_line</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{326.000000, 7.000000}</string>
					<key>textureRect</key>
					<string>{{0, 0}, {326, 7}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bambooSideFat</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{48.000000, 60.000000}</string>
					<key>textureRect</key>
					<string>{{550, 0}, {60, 48}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bird</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{93.000000, 173.000000}</string>
					<key>textureRect</key>
					<string>{{263, 24}, {173, 93}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
			</array>
		</dict>
	</array>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
