<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>appName</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan Daniel</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>format</key>
	<string>APPL</string>
	<key>images</key>
	<array>
		<dict>
			<key>path</key>
			<string>mainScreen-667.png</string>
			<key>size</key>
			<string>{989.000000, 1151.000000}</string>
			<key>subimages</key>
			<array>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bottomLeaf7_10b</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{195.000000, 218.000000}</string>
					<key>textureRect</key>
					<string>{{-1, 657}, {218, 195}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bottomLeaf8</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{176.000000, 182.000000}</string>
					<key>textureRect</key>
					<string>{{433, 692}, {182, 176}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>topLeaf4</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{208.000000, 178.000000}</string>
					<key>textureRect</key>
					<string>{{222, 690}, {208, 178}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bottomLeaf9b</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{228.000000, 228.000000}</string>
					<key>textureRect</key>
					<string>{{433, 460}, {228, 228}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bottomLeaf9c</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{176.000000, 165.000000}</string>
					<key>textureRect</key>
					<string>{{803, 831}, {176, 165}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>topLeaf5</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{231.000000, 239.000000}</string>
					<key>textureRect</key>
					<string>{{433, 226}, {239, 231}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bottomLeaf1</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{311.000000, 294.000000}</string>
					<key>textureRect</key>
					<string>{{677, 0}, {311, 294}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>topLeaf123</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{255.000000, 248.000000}</string>
					<key>textureRect</key>
					<string>{{665, 579}, {255, 248}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bottomLeaf2</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{222.000000, 195.000000}</string>
					<key>textureRect</key>
					<string>{{226, 464}, {195, 222}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>title</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{429.000000, 235.000000}</string>
					<key>textureRect</key>
					<string>{{0, 226}, {429, 235}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bottomLeaf3</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{168.000000, 150.000000}</string>
					<key>textureRect</key>
					<string>{{803, 1000}, {168, 150}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bottomLeaf10a</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{296.000000, 277.000000}</string>
					<key>textureRect</key>
					<string>{{676, 298}, {296, 277}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bottomLeaf4</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{189.000000, 223.000000}</string>
					<key>textureRect</key>
					<string>{{-1, 465}, {223, 189}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bottomLeaf5</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{160.000000, 183.000000}</string>
					<key>textureRect</key>
					<string>{{-1, 856}, {183, 160}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bottomLeaf6</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{142.000000, 142.000000}</string>
					<key>textureRect</key>
					<string>{{188, 872}, {142, 142}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>vine</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{673.000000, 222.000000}</string>
					<key>textureRect</key>
					<string>{{0, 0}, {673, 222}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bottomLeaf9a</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{174.000000, 179.000000}</string>
					<key>textureRect</key>
					<string>{{619, 831}, {179, 174}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
			</array>
		</dict>
	</array>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
